@model Guardian.Domain.Target.TargetDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>
                <small>
                    @if (Model.IsVerified)
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle text-danger"></i>
                    }
                </small> @Model.Domain<small>
                    / @Model.OriginIpAddress
                </small>
            </h3>
            <div>
                @if (Model.WAFEnabled)
                {
                    <span>WAF Protection is <u class="text-success">ENABLED</u>.</span>
                }
                else
                {
                    <span>WAF Protection is <u class="text-danger">DISABLED</u>.</span>
                }

                @if (Model.UseHttps)
                {
                    <span>Always using <u class="text-success">HTTPS</u> for this site.</span>
                }
            </div>
        </div>

        <div class="col-4 align-self-center">
            <form asp-action="Delete" class="float-right">
                @Html.Hidden("id", Model.Id)
                <a class="btn btn-sm btn-info" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-sm btn-dark" asp-action="Index" asp-controller="FirewallRules" asp-route-id="@Model.Id">Firewall Rules</a>
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <canvas id="requestChart" style="width: 100%; height: 320px"></canvas>
        </div>
        <div class="col-12">
            <canvas id="ruleChart" style="width: 100%; height: 320px"></canvas>
        </div>
        <div class="col-12">
            <canvas id="ruleTimeChart" style="width: 100%; height: 320px"></canvas>
        </div>
    </div>
</div>


@section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="~/lib/Chart.js/Chart.min.js" asp-append-version="true"></script>
    <script src="~/js/details.js" asp-append-version="true"></script>
}
